* {
    padding: 0;
    margin: 0;
    
 }
header {
    background-color: #0f1111;
    height: 60px; 
    padding: 20px 5px 5px 5px;
}
#logo {
    color: #f08804;
    font-size: 25px;
}
.nav {
    color: white;
    padding: 150px;
}
a {
    text-decoration: none;
    color: white;

}
#searchbutton {
    background-color: #f08804;
    color: white;
}

.main {
    height: 100px;
    width: 100px;
    border: 2px solid #000000;
    display: inline-block;
    border-radius: 20px;
    text-align: center;
}

#content {
    height: 617px;
    color: black;
}

#first {
    background-color: rgba(128, 255, 212,0.5);
}
#second {
    background-color: rgba(0, 255, 255,0.5);
}
#third {
    background-color: rgba(0, 128, 128,0.5);
}

footer {
    background-color: #0f1111;
    text-align: center;
    color: white;
}
